:root {
	--dark: #222831;
	--light-blue: hsl(203, 95%, 67%);
	--blue: #29aafa;
	--light: #f2f7f8;
}

body {
	margin: 0;
	line-height: 1.6;
	background: var(--dark);
	color: var(--light);
	font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 18px;
	background-color: #dfdbe5;

	background-color: var(--light-blue);
	background-image: url("data:image/svg+xml,%3Csvg width='600' height='600' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%2329aafa' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

body > div {
	margin: auto;
	padding: 0 1rem;
	min-height: 100vh;
	display: flex;
	flex-flow: column;
}

main {
	flex: 1;
}

a {
	color: inherit;
}

em {
	font-weight: 700;
}

small {
	font-size: 0.8em;
}

article h1,
aside h1,
nav h1,
section h1 {
	font-size: 2em;
}

.btn {
	display: inline-block;
	border: 1px solid;
	padding: 0.25em 0.75em;
	text-decoration: none;
	background: var(--green);
	font-size: inherit;
	font-family: inherit;
	color: var(--light);
	font-weight: 500;
	cursor: pointer;
	border-radius: 0.25em;
}

img {
	display: block;
	max-width: 100%;
}
